

#headbox{


width: fit-content;
margin-right: auto;
margin-left: auto;
padding-left: 3%;
padding-right: 0%;
}


#page3{

background-image: url(eyehead.gif);

}


#headz{

    align-items: center;
    align-content: center;
    align-self: center;

}


#boxy{

margin-top: 100px;
display: flex;
align-items: center;

}


#htopbox{


    background-color: black;
    padding: 10%;
    position: fixed;
    }
    
    #htop{
       
        margin-right: auto;
    margin-left: auto;
    width: fit-content;
    background-color: rgb(0, 0, 0);
    }

.phone{
    visibility: collapse;
}

.clickable:hover{
   transform: rotateZ(180deg);
}

.words{
    color: white;
}

#blogo{
height: 250px;
}

.topimgs{

    height: 250px;
    align-items: center;
    align-content: center;
    align-self: center;
}

.gifs{
    height: 300px;
  margin: 5%;
    
}


.homc{
   margin: 0%;
    


}



.homc :hover{
    transform: rotateZ(180deg);
}


.homc :active{
    transform: rotateZ(180deg);
}

#himgs{

        height: 65px;
        align-items: center;
        align-content: center;
        align-self: center;
    

}

#bottom{
    border: 8px solid transparent;
height: max-content;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

    
}

#piz{
display: flex;
background-position: center; 
background-image: url(liveg.gif);
min-height: 800px;
border: 8px solid transparent;
flex-direction: column;
justify-content: center;

}

#button{
display: flex;
height: fit-content;
position: fixed;
top: 0px;
left: 0px;
margin: 0%;
border: 0px solid transparent;
background-color: transparent;
}





#home{

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 600px;    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 900px;
    border: 0px solid transparent;
    }


#eyes1{
    
    transform: rotateY(180deg);    
}




#ptop{
    
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
    background-color: white;
}

#homm{
background-color: black;
background-position: center;
background-attachment: fixed;


}

#hometext{

    color: blueviolet;
font-size: xx-large;
text-align: center;
font-weight: bold;
}

#homeptext{

margin-bottom: 20px;
    font-size: larger;
color: blueviolet;
    
font-weight: bold;
padding: 10%;
}




#mvbox{


background-color: transparent;
width: fit-content;



}



#homebox{

    background-image: url(what.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 1300px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;

    
}

#topbox{

min-height: 300px;
margin: 0%;

}




#box1{
    
   display: flex;
}

#flag :hover{

    transform: rotateZ(180deg);
}

#texts{

    visibility: collapse;
    color: white;
    font-size: xx-large;



}

#header{

    background-color: transparent;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;

}


#flag :active{

    transform: rotateZ(180deg);
}







#mail{  

margin-left: auto;
margin-right: auto;
transform: translate(0px, 100px);

}

#nets{

color: white;

}

#news{
width: 300px;
height: 300px;
background-image: url(cute.gif);
background-position: center;
background-size: cover  ;
background-repeat: no-repeat;
}



#words{

    text-align: center;
    color: white;
    background-color: black;
}


@media only screen and (max-width:430px ) {
   
   .gifs{ 
    height: 115px;
    
    }
   
    #bottomhead{

        margin: 0px;    


    }
    
    
    #blogo{
        height: 10px;
    }
    
    
    
    .topimgs{
        height: 65px;
        align-items: center;
        align-content: center;
        align-self: center;
       margin-top: 100px;
        
    }
        
    #piz{
        background-size: 105px;
        background-position: center;
    }

    #flag{

        width: 150px;
        height: 150px;

    }
    
    #topbox{

        min-height: 50px;

    }
    
    #joecoke{

        width: 300px;
        height: 300px;

    }
   

   #box1{

    flex-direction: column;

   }


   }
   
    #mvbox{

    background-color: transparent;

   }
   
    #music{

        width: 280px;
        height: 157.5px;
        transform: translate(0px, 65px);

    }

    .headz{

        transform: translate(63px, 0px);

    }

    #texts{

        visibility: visible;


    }



}






